In [2]:
import sqlite3

In [5]:
DB_FILEPATH = 'rpg_db.sqlite3'
conn = sqlite3.connect(DB_FILEPATH)
print(conn)

<sqlite3.Connection object at 0x7fbc95c2ff10>

In [6]:
cursor = conn.cursor()
print(cursor)

<sqlite3.Cursor object at 0x7fbc95cb62d0>

In [21]:
# How many total Characters are there?
query1 = '''
SELECT
  COUNT(*)
FROM charactercreator_character'''

result1 = cursor.execute(query1).fetchone()
print(result1)

(302,)

In [22]:
# How many of each specific subclass?
query2 = '''
SELECT
  name,
  level,
  exp
FROM charactercreator_character
'''

result2 = cursor.execute(query2).fetchone()
print(result2)

('Aliquid iste optio reiciendi', 0, 0)

In [23]:
# How many total Items?
query3 = '''
SELECT
  COUNT(*)
FROM armory_item'''

result3 = cursor.execute(query3).fetchone()
print(result3)

(174,)

In [27]:
# How many of the Items are weapons? How many are not?
query4 = '''
SELECT *
FROM charactercreator_character_inventory as cci
JOIN armory_weapon AS aw ON cci.item_id == aw.item_ptr_id 

'''

result4 = cursor.execute(query4).fetchone()
print(result4)

(14, 5, 145, 145, 0)

In [37]:
# How many Items does each character have? (Return first 20 rows)
query5 = '''
SELECT *
FROM charactercreator_character_inventory as cci
JOIN armory_item AS ai ON cci.item_id == ai.item_id
'''

result5 = cursor.execute(query5).fetchone()
print(result5)

(1, 1, 58, 58, 'Quos re', 0, 0)

In [34]:
# How many Weapons does each character have? (Return first 20 rows)
query6 = '''
SELECT *
FROM charactercreator_character_inventory as cci
JOIN armory_weapon AS aw ON cci.item_id == aw.item_ptr_id
'''

result6 = cursor.execute(query6).fetchone()
print(result6)

(14, 5, 145, 145, 0)

In [38]:
# How many Weapons does each character have? (Return first 20 rows)
query7 = '''
SELECT AVG(Weapon_Count) as Average_Weapons
FROM (
	SELECT
	  cci.character_id,
	  -- cci.item_id,
	  COUNT(aw.item_ptr_id) as Weapon_Count
	FROM charactercreator_character_inventory as cci
	LEFT JOIN armory_weapon AS aw ON cci.item_id == aw.item_ptr_id
	GROUP BY cci.character_id
)
'''

result7 = cursor.execute(query7).fetchone()
print(result7)

(0.6721854304635762,)

In [39]:
# On average, how many Items does each Character have?
query8 = '''
SELECT AVG(Items_Count) as Average_Items
FROM (
	SELECT
	  cci.character_id,
	  COUNT(ai.item_id) as Items_Count
	FROM charactercreator_character_inventory as cci
	LEFT JOIN armory_item AS ai ON cci.item_id == ai.item_id
	GROUP BY cci.character_id
) 

'''

result8 = cursor.execute(query8).fetchone()
print(result8)

(2.9735099337748343,)